@media(max-width: 1440px) {


    .main .main-container .mockup-image {
        min-width: 400px;
    }

    .main .main-container .main-text {
        min-width: 200px;
    }

    .main .main-container .main-text h2 {
        font-size: calc(1.5vw + 1.5vh);
    }

    .main .main-container .main-text p{
        font-size: calc(0.7vw + 0.7vh);
        line-height: 25px;
    }

    .main .main-text .register-button {
        font-size: calc(0.7vw + 0.7vh);
        padding: 18px 50px;
    }

    .footer .social a i {
        font-size: 1.3rem;
        margin-left: 16px;
    }

    .footer .social .fab.fa-instagram {
        font-size:1.8rem;
    }
}

@media(max-width: 1040px) {
    .main .main-container {
        padding: 25px 0 0 77px;
    }

    .main .main-container .mockup-image {
        min-width: 300px;
    }

    .main .main-container .main-text {
        min-width: 100px;
        margin: 30px 188px 0 58px;
    }

    .main .main-container .main-text h2 {
        font-size: calc(1vw + 1vh);
    }

    .main .main-container .main-text p{
        font-size: calc(0.5vw + 0.6vh);
        line-height: 18px;
        margin: 18px 0 11px 0;
    }

    .main .main-text .register-button {
        font-size: calc(0.4vw + 0.4vh);
        padding: 8px 16px;
    }

    .footer .social a i {
        font-size: 0.8rem;
        margin-left: 8px;
        padding: 11px 11px;
    }

    .footer .social .fab.fa-instagram {
        font-size: 1.2rem;
        padding: 9px 10px;
    }

    .footer .social .fab.fa-facebook-f {
        padding: 11px 12px;
    }
}

@media(max-width: 920px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-position: top;
        background-size: contain;
    }

    .header .logo-container {
        padding: 7% 6% 2% 6%;
    }

    .header .logo-container img{
        width: 38%;
        height: 38%;
    }

    .main .main-container {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 0 30px;
        justify-content: space-evenly;
        height: 80vh;
    }

    .main .main-container .mockup-image{
        min-width: 100px;
        width: 100%;
        height: 70%;
        background: url(../images/illustration-mockups.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }

    .main .main-container .main-text {
        min-width: 100px;
        margin: 40px 5px 35px 5px;
    }

    .main .main-container .main-text h2 {
        font-size: calc(2.5vw + 2.3vh);
        text-align: center;
    }
    
    .main .main-container .main-text p{
        font-size: calc(1.6vw + 1.6vh);
        text-align: center;
        line-height: 40px;
        font-weight: 200;
        margin: 8px 0 30px 0;
    }

    .main .main-text .register-button {
        font-size: calc(1.6vw + 1.6vh);
        align-self: center;
        padding: 18px 100px;
    }

    .footer {
        padding: 0;
        margin: 0;
        margin-top: 25px;
    }
    
    .footer .social {
        justify-content: center;
    }
    
    .footer .social a i {
        margin-left: 20px;
        padding: 15px;
        font-size: 2rem;
    }
    
    .footer .social .fab.fa-instagram {
        padding: 14px 15px;
        font-size: 2.3rem;
    }
    
    .footer .social .fab.fa-facebook-f {
        padding: 15px 19px;
    }

}

@media(max-width: 769px) {
  
.main .main-container .mockup-image{
    height: 40%;
}

.main .main-container .main-text {
    min-width: 100px;
    margin: 30px 15px 25px 15px;
}

.main .main-container .main-text h2 {
    font-size: calc(2vw + 2vh);
}

.main .main-container .main-text p{
    font-size: calc(1.5vw + 1.4vh);
    line-height: 20px;
    margin: 8px 5px 10px 5px;
}

.main .main-text .register-button {
    font-size: calc(1vw + 1vh);
    padding: 12px 70px;
}

.footer {
    margin-top: 10px;
}


.footer .social a i {
    margin-left: 9px;
    padding: 6px;
    font-size: 1rem;
}

.footer .social .fab.fa-instagram {
    padding: 5px 6px;
    font-size: 1.3rem;
}

.footer .social .fab.fa-facebook-f {
    padding: 6px 8px;
}
}